* {
  font-family: monospace;
  color: white;
}

#start {
  color: black;
  width: 100%;
  height: 200px;
  font-size: 50px;
  font-weight: bold;
}

.show {
  display: block;
  border: 5px solid black;
  background-color: black;
  opacity: 0.85;
}

body#home {
  background-image: url("blind-pics/tough.webp");
}

h1#show {
  width: 100%;
}

h2#insruct {
  font-size: 25px;
}

p#insruct {
  font-size: 15px;
}
p#intro {
  font-size:200%;
  font-family: 'Cabin', sans-serif;
}


img#quiz-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
}

img#blind-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.hide {
}

div.questions {
  width: 100%;
}

input {
  height: 40px;
  width: 20%;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: rgb(192, 192, 192);
  font-size: 1rem;
  color: #333;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, .45),
  inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin: auto;
  display: block;
}

input#home {
  width:100%;
}

button:hover {
  color: white;
}

button#submit {
  width: 50%;
  height: 70px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  display: block;

}
#title {
  font-family: monospace;
  color: white;
  font-weight: bold;
  font-size: 80px;
}

h1#visual {
  font-family: monospace;
  color: white;
  font-weight: bold;
  font-size: 80px;
}

footer {
  font-weight: bold;
  display: block;
  border: 5px solid black;
  background-color: black;
  opacity: 0.8;
  width: 43%;
}
